$color-texto: blue;

body{
    background-color:darkgray;
}

h1{
    color: $color-texto;
} 
$breakpoint-tablet: 450 px;
@media (min-width: 768px) and (max-width: 950px) {
    h1{
        color: red;
    } 
}

h2{
    color: red;
}
h3{
    color: aqua;
}

