$color-texto: blue;

body{
    background-color:darkgray;
}

h1{
    color: $color-texto;
} 
//For Medium
@mixin md {
    @media screen and (max-width: ($md)) {
      h1{
        color: red;
      }
    }
  }
