/* Define standard variables and values for website */
$bgcolor: rgb(197, 203, 41);
$textcolor: darkblue;
$fontsize: 18px;
$textcolor: darkblue;
$tamanoletra: large;
$color-texto: blue;
/* Use the variables */
body {
  background-color: $bgcolor;
  color: $textcolor;
  font-size: $fontsize;
}                  
p{
  color: $textcolor;
  font-size: $tamanoletra;
}
h1{
  color: $color-texto;
} 
$breakpoint-tablet: 450 px;
@media (min-width: 768px) and (max-width: 950px) {
  h1{
      color: red;
  } 
}
H2{
  text-align: center;
}