
  $colorbg: red;
  
  .container{
    background-color: rgb(174, 198, 233);
  }
<<<<<<< HEAD

=======
>>>>>>> 7309602d4aabb0badfb161122db665e3c237903d

      $breakpoint-tablet: 768px;
    @media (min-width: $breakpoint-tablet) {
      h1{
        color:blue;
      }
    }
   

    @media (min-width: 768px) and (max-width: 950px) {
        h1 {
          color: red;
        }
        h2 {
            color: red;
          }
          
          h3 {
            color: aqua;
          }
      }
      
      $breakpoint-tablet: 450 px;
@media (min-width: 768px) and (max-width: 950px) {
    h1{
        color: red;
    } 
}
$color-fondos: #F55;

h1 {
  background-color: $color-fondos;
}